{{define "title"}}{{.Title}}{{end}}

{{define "content"}}

<table class="table">
    <tr>
        <th>Artist</th>
        <td>{{.Artist.Name}}</td>
    </tr>

    <tr>
        <th>Albums</th>
        <td>

            <table class="table table-striped table-condensed" id="albums">
                {{range $index, $album := .Albums}}
                <tr id="album-{{$album.ID}}">
                    <td>
                        <a href="{{$album.URL}}">{{$album.Name}}</a>
                    </td>
                    <td>
                        {{$album.Year.Year}}
                    </td>
                </tr>
                {{end}}
            </table>
        </td>
    </tr>
</table>

{{end}}
