{{define "title"}}{{.Title}}{{end}}

{{define "content"}}

<audio id="audio" preload="auto" controls="">
</audio>

<table class="table table-striped table-condensed" id="songs">
    <thead>
        <tr>
            <th></th>
            <th>Song</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody id="songs-tbody">
    {{range $index, $song := .Songs}}
    <tr id="song-{{$song.ID}}">
        <td>
            <a onclick="playTrack({{$index}}); return false;">
                <span class="glyphicon glyphicon-play"></span></a>
        </td>
        <td>
            <a href="{{$song.URL}}">{{$song.DisplayTitle}}</a>
        </td>
        <td><a href="{{$song.Artist.URL}}">{{$song.Artist.DisplayName}}</a></td>
        <td><a href="{{$song.Album.URL}}">{{$song.Album.DisplayName}}</a></td>            
        <td>
            <nobr><span class="rating rating-{{$song.Rating}}" id="rating-{{$song.ID}}"></span></nobr>
        </td>
        
    </tr>
    {{end}}
    </tbody>
</table>
<script>
    {{ range .Songs }}
    ratings["{{.ID}}"] = {{.Rating}};{{ end}}
</script>
<button onclick="newTrack()">+</button>

<script>

 var tracks = [];
 {{ range .Songs}}
 tracks.push({
     "id": "{{.ID}}",
     "track": {{.Track}},
     "name": "{{.DisplayTitle}}",
     "url": "{{.HakmesURL}}",
     "rating": {{.Rating}},
     "playURL": "{{.PlayURL}}"
 });
 {{ end }}

 var playing = false;
 var index = 0;
 var cnt = tracks.length;

 var a = document.getElementsByTagName("audio")[0];

 var inPause = false;
 
 a.addEventListener("play", function() {
     playing = true;
     if (!inPause) {
         // when we restart playing after a pause,
         // we don't want to track it
         var xhttp = new XMLHttpRequest();
         xhttp.open("GET", tracks[index].playURL, true);
         xhttp.send();
     }
     inPause = false;
 }, true);
 a.addEventListener("pause", function() {
     playing = false;
     inPause = true;
 })
 a.addEventListener("ended", function() {
     inPause = false;
     if ((index + 1) < cnt) {
         index++;
         loadTrack(index);
         a.play();
         newTrack();
     } else {
         audio.pause();
         index = 0;
         loadTrack(index);
     }
 });
 var loadTrack = function(idx) {
     audio.src = tracks[idx].url;
     var rows = document.getElementsByTagName("tr");
     for (var i=0; i<rows.length; i++) {
         rows[i].classList.remove("info");
     }
     
     var row = document.getElementById("song-" + tracks[idx].id);
     row.classList.add("info");
 }
 loadTrack(index);

 var playTrack = function(idx) {
     inPause = false;
     index = idx;
     loadTrack(index);
     a.play();
 };

 var newTrack = function() {
     var xhttp = new XMLHttpRequest();
     xhttp.onreadystatechange = function() {
         if (this.readyState == 4 && this.status == 200) {
             // Typical action to be performed when the document is ready:
             var track = JSON.parse(xhttp.responseText);
             addTrack(track);
         }
     };
     xhttp.open("GET", "/api/random/", true);
     xhttp.send();
 };
 
 var addTrack = function(track) {
     tracks.push({
         "id": track.ID,
         "track": track.Track,
         "name": track.Title,
         "url": track.URL,
         "playURL": track.PlayURL
     });
     ratings[track.ID] = track.Rating;
     cnt = tracks.length;
     var currentTrack = cnt;
     // add row to the table
     var tbody = document.getElementById("songs-tbody");

     var glyph = document.createElement('span');
     glyph.classList.add("glyphicon");
     glyph.classList.add("glyphicon-play");
     
     var playbutton = document.createElement("a");
     playbutton.setAttribute('href', '#');
     playbutton.addEventListener('click', function () {
         playTrack(currentTrack); return false;
     });
     playbutton.appendChild(glyph);

     var buttonTD = document.createElement("td");
     buttonTD.appendChild(playbutton);
     
     var titleTD = document.createElement("td");
     var titleA = document.createElement("a");
     titleA.setAttribute("href", track.SongURL);
     titleA.textContent = track.Title;
     titleTD.appendChild(titleA);
     
     var artistTD = document.createElement("td");
     var artistA = document.createElement("a");
     artistA.setAttribute("href", track.ArtistURL);
     artistA.textContent = track.Artist;
     artistTD.appendChild(artistA);
     
     var albumTD = document.createElement("td");
     var albumA = document.createElement("a");
     albumA.setAttribute("href", track.AlbumURL);
     albumA.textContent = track.Album;
     albumTD.appendChild(albumA);

     var ratingTD = document.createElement("td");
     var ratingSpan = document.createElement("span");
     ratingSpan.setAttribute("id", "rating-" + track.ID);
     ratingSpan.classList.add("rating");
     ratingSpan.classList.add("rating-" + track.Rating);
     $(ratingSpan).append(ratingsWidget(track.Rating, track.ID));
     ratingTD.appendChild(ratingSpan);
     
     var tr = document.createElement('tr');
     tr.setAttribute("id", "song-" + track.ID);
     
     tr.appendChild(buttonTD);
     tr.appendChild(titleTD);
     tr.appendChild(artistTD);
     tr.appendChild(albumTD);
     tr.appendChild(ratingTD);

     tbody.append(tr);

     // remove first row in table
     var firstRow = tbody.getElementsByTagName("tr")[0];
     tbody.removeChild(firstRow);

     // and move the "play head"
     firstRow = tbody.getElementsByTagName("tr")[0];
     firstRow.classList.add("active");
 };
</script>



{{end}}
