{{define "title"}}{{.Title}}{{end}}

{{define "content"}}

<table class="table">
    <tr>
        <th>Artist</th>
        <td><a href="{{.Song.Artist.URL}}">{{.Song.Artist.Name}}</a></td>
    </tr>
    <tr>
        <th>Album</th>
        <td><a href="{{.Song.Album.URL}}">{{.Song.Album.Name}}</a></td>
    </tr>
    <tr>
        <th>Year</th>
        <td>{{.Song.Year.Year}}</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>{{.Song.Track}}: {{.Song.Title}}</td>
    </tr>
</table>

<audio id="audio" preload="auto" controls="">
    <source src="{{.File.HakmesURL}}">
</audio>

<script>
 var endpoint = "{{.Song.PlayURL}}";
 var a = document.getElementsByTagName("audio")[0];
 a.addEventListener("play", function() {
     console.log("played!");
     var xhttp = new XMLHttpRequest();
     xhttp.open("GET", endpoint, true);
     xhttp.send();
 }, true);
</script>

{{end}}
