{{define "title"}}{{.Title}}{{end}}

{{define "content"}}

<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#info" role="tab" data-toggle="tab">Info</a></li>
    <li><a href="#edit" role="tab" data-toggle="tab">Edit</a></li>        
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="info" role="tabpanel">
        <table class="table">
            <tr>
                <th>Artist</th>
                <td><a href="{{.Song.Artist.URL}}">{{.Song.Artist.DisplayName}}</a></td>
            </tr>
            <tr>
                <th>Album</th>
                <td><a href="{{.Song.Album.URL}}">{{.Song.Album.DisplayName}}</a></td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{.Song.Year.Year}}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{.Song.Track}}: {{.Song.DisplayTitle}}</td>
            </tr>

            <tr>
                <th>Rating</th>
                <td>
                    <nobr><span class="rating rating-{{.Song.Rating}}" id="rating-{{.Song.ID}}"></span></nobr>
                </td>
                <script>
                    ratings["{{.Song.ID}}"] = {{.Song.Rating}};
                </script>
            </tr>

            
            <tr>
                <th>Filename</th>
                <td>{{.File.Filename}}</td>
            </tr>
            <tr>
                <th>Format</th>
                <td>{{.File.Format}}</td>
            </tr>
            <tr>
                <th>Filetype</th>
                <td>{{.File.Filetype}}</td>
            </tr>
            <tr>
                <th>Filesize</th>
                <td>{{.File.HumanSize}}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>
                    {{ range .Song.Tags }}
                    <a href="{{.URL}}"><span class="label label-default">{{.Name}}</span></a>
                    {{ end }}
                    <form action="tag/" method="post">
                        <input type="text" name="tags" class="form-control" value="{{.Song.TagsString}}"/>
                    </form>
                </td>
            </tr>

        </table>

        <audio id="audio" preload="auto" controls="">
            <source src="{{.File.HakmesURL}}">
        </audio>

        <script>
         var endpoint = "{{.Song.PlayURL}}";
         var a = document.getElementsByTagName("audio")[0];
         var inPause = false;
         a.addEventListener("play", function() {
             if (!inPause) {
                 var xhttp = new XMLHttpRequest();
                 xhttp.open("GET", endpoint, true);
                 xhttp.send();
             }
             inPause = false;
         }, true);
         a.addEventListener("pause", function () {
             inPause = true;
         }, true);
        </script>
    </div>
    <div class="tab-pane" id="edit" role="tabpanel">
        <h2>Edit</h2>

        <form action="." method="post">
            <input type="text" name="title" value="{{.Song.Title}}" class="form-control"/>
            <input type="submit" class="btn btn-primary" value="save"/>
        </form>
    </div>
</div>

{{end}}
